html,body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0%;
  margin: 0%;
  background-color: #ffffff;
  height:100%;
}

.cracker{
  width: 100%; 
  height: 50%;
}

.hashextract{
 width: 50%; 
 height: 50%; 
 float:left;
 text-align: left;
}

.crack{
  width: 50%; 
  height: 50%; 
  float:right;
  text-align: left;

}



.btn {
  margin-left: 4%;
  margin-bottom: 5%;
  background-color: rgb(76, 130, 175);
  color: white;
  padding: 2%;
  font-size: 25px;
  border: none;
  position: relative;
  display: inline-block;
  outline:none;
}
.btn:hover {
  background-color: rgb(42, 120, 184);
}



#filename{
  margin-left: 4px;
  font-style: italic;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  position: relative;
  opacity: 0.2;
}


#hash{
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  display: block;
}

#hashs{
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  display: block;
}
#result{
  color: #fa0606;
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  display: block;
}





#showcase {
  height: 35%;
  background: url("../images/showcase1.jpg") no-repeat -500px -200px;
  text-align: center;
  color: #ffffff;
}


footer {
  padding: 4px;
  height: 5%;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

