body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0%;
  margin: 0%;
  background-color: #c2bbbb;
}


.btn {
  margin-left: 4%;
  margin-bottom: 5%;
  background-color: rgb(76, 130, 175);
  color: white;
  padding: 12px;
  font-size: 25px;
  border: none;
  position: relative;
  display: inline-block;
  outline:none;
}
.btn:hover {
  background-color: rgb(42, 120, 184);
}



#filename{
  margin-left: 4px;
  font-style: italic;
  vertical-align: middle;
  display: inline-block;
  width: 95px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  position: relative;
  opacity: 0.2;
}


#hash{
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  display: block;
}




#showcase {
  min-height: 500px;
  background: url("../images/showcase1.jpg") no-repeat -500px -200px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 15px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

footer {
  padding: 4px;
  color: #ffffff;
  background-color: #c2bbbb;
  text-align: center;
}

